@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');




/* ------- R E S E T S ------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}




/* ------- C U S T O M  P R O P E R T I E S ------- */

:root {
    --ff-primary: 'Poppins', sans-serif;
  
    --fw-reg: 400;
    --fw-bold: 700;
  
    --clr-dark: #2F3640;
    --clr-accent: #91B500;
  
    --fs-h1: 2.125rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
  
    --bs-light: 0.25em 0.25em 0.75em rgba(255,255,255,0.25),
                0.125em 0.125em 0.25em rgba(255,255,255,0.15);
    --bs-dark: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
                0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}
  
@media screen and (min-width: 780px) {
    :root {
        --fs-h1: 2.5rem;
        --fs-h2: 2rem;
        --fs-h3: 1.25rem;
        --fs-body: 1.125rem;
    }
}




  /* ------- G E N E R A L  S T Y L E S ------- */

html {
    scroll-behavior: smooth;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}
  
body {
    background-color: #FFFFFF;
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
    width: 100%;
    overflow-x: hidden;
}
  
.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}




  /* ------- T Y P O G R A P H Y ------- */

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}




/* ------- H E A D E R ------- */

.header-container {
    height: 100vh;
    background-image: url(./images/header-background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }
  
  .navbar-container {
    width: 100%;
    color: white;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
  }
  
  .navbar-logo {
    justify-self: start;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 3rem;
    list-style: none;
    text-align: center;
    width: 100%;
    justify-content: end;
  }
  
  .nav-links {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: var(--fw-bold);
  }
  
  .nav-links:hover {
    color: var(--clr-accent);
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .nav-icon {
    display: none;
  }
  
  .header-content-container {
    color: white;
    align-self: flex-start;
    margin-top: 12.5%;
    margin-left: 10%;
    width: 100%;
    /* border: 1px solid red; */
  }
  
  .header-content-container p {
    margin: 2rem 0 1rem;
  }
  
  @media screen and (min-width: 600px) {
    .header-content-container {
      width: 50%;
      padding: 1rem;
    }
    .header-container {
      padding: 0 5rem;
    }
  }
  
  /* Mobile */
  @media screen and (max-width: 700px) {
    .navbar-container {
      position: relative;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      position: absolute;
      top: 100px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
    .nav-menu.active {
      background-color: var(--clr-dark);
      color: #FFFFFF;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      padding: 0;
    }
    .nav-links {
      width: 100%;
      display: table;
      transform: translateY(100%);
    }
    .nav-links:hover {
      color: var(--clr-accent);
    }
    .navbar-logo {
      position: absolute;
      top: 32px;
      left: 0;
    }
    .nav-icon {
      display: block;
      position: absolute;
      top: 32px;
      right: 0;
      cursor: pointer;
    }
    .nav-links-mobile {
      display: block;
      margin: 0 auto 2rem;
      background-color: var(--clr-accent);
      width: 50%;
      padding: 10px;
      text-decoration: none;
      font-weight: var(--fw-bold);
      color: #FFFFFF;
    }
    .nav-links-mobile:hover {
      background-color: #FFFFFF;
      color: var(--clr-accent);
    }
    .navbar-container .get-started-btn {
      display: none;
    }
    .header-content-container {
      position: absolute;
      top: 50%;
      left: 2.5%;
      transform: translateY(-50%);
    }
    .header-content-container {
      width: 80%;
    }
  }




/* ------- A B O U T U S ------- */

.about-us-container {
  min-height: 100vh;
  background-image: url(./images/about-us-background.png);
  background-position: right;
  background-repeat: no-repeat;
  padding: 3rem 2rem;
  width: 95%;
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
}

.about-us-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-info {
  width: 70%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-text {
  position: relative;
  margin: 1rem 0;
}

.about-us-text::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  height: 3px;
  width: 40px;
  background-color: var(--clr-accent);
}

.tabs-container {
  width: 90%;
  padding: 1rem 0;
}

.tabs {
  padding: 10px 30px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-family: var(--ff-primary);
  margin: 0.75rem 0;
}

.active-tabs {
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}

.tabs.-content {
  flex-grow: 1;
}

.content {
  display: none;
}

.active-content {
  display: block;
}

@media screen and (max-width: 800px) {
  .about-us-container {
    flex-direction: column;
    align-items: center;
  }
  .about-us-info {
    width: 100%;
  }
}




/* ------- B U T T O N S ------- */

.get-started-btn,
.read-more-btn {
  background-color: #91B500;
  color: #2F3640;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  width: max-content;
}